<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${photo.id != null}">
<head th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Photo' : 'Create Photo' })"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: topNavbar('photos')"></nav>
<div class="container text-light mt-3">
    <h1 th:text="${isEdit ? 'Edit Photo' : 'Create Photo'}"></h1>
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/photos/edit/'+photo.id : '/photos/create' }"
            id="photo-form"
            method="POST"
            th:action="@{${actionUrl}}"
            th:object="${photo}"
            class="row gy-2"
    >
        <div class="col-10"
             th:insert="fragments/components :: formField('text', 'Title', 'title')">
        </div>
        <div class="col-2">
            <label for="description" class="form-label">Visibility</label>
            <div class="form-check mt-2">
                <input type="checkbox" class="form-check-input" id="visible" th:field="*{visible}">
                <label class="form-check-label" for="visible">Visible/NotVisible</label>
            </div>
        </div>
        <div class="col-12"
             th:insert="fragments/components :: formField('text', 'Url', 'url')">
        </div>
        <div class="col">
            <h3>Categories</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-3" th:each="cat : ${categoryList}">
                        <input
                                class="from-check-input"
                                type="checkbox"
                                th:value="${cat.id}"
                                th:id="|cat_${cat.id}|"
                                th:field="*{categories}">
                        <label class="form-check-label" th:for="|cat_${cat.id}|" th:text="${cat.name}">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="5" th:field="*{description}"
                      th:errorClass="is-invalid"
            >
            </textarea>
            <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                <ul class="list-group-item disabled ms-2">
                    <li th:each="err : ${#fields.errors('description')}"
                        th:text="${err}" class="list-group-item disabled"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-secondary" type="submit">Save</button>
            <a th:href="@{/photos}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>