<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<body>
<nav th:fragment="topNavbar(area)" class="navbar navbar-expand-lg bg-grey navbar-dark border-bottom border-light">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/photos}">Spring </a><div><img src="/logo.jpeg" alt="" style="height:50px"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ps-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classAppend="${area == 'photos' ? 'active' : ''}"
                       th:href="@{/photos}">Photos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classAppend="${area == 'categories' ? 'active' : ''}"
                       th:href="@{/categories}"> <!--sec:authorize="hasAuthority('ADMIN')" -->
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classAppend="${area == 'users' ? 'active' : ''}"
                       th:href="@{/users}"> <!--sec:authorize="hasAuthority('ADMIN')" -->
                        Users
                    </a>
                </li>

            </ul >
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex justify-content-end">
                    <a class="nav-link" th:classAppend="${area == 'logout' ? 'active' : ''}"
                       th:href="@{/logout}">Logout
                    </a>
                </li>
            </div>
        </div>
    </div>

</nav>
</body>
</html>